.qr-reader {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 40px;
}

.text-qr {
  width: 50%;
  text-align: center;
}

.qr-reader video {
  width: 500px !important;
  height: 500px !important;
  object-fit: cover;
}

.qr-reader .qr-box {
  width: 100% !important;
  left: 0 !important;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 510px) {
  .qr-reader {
    width: 100%;
  }
  .qr-reader video {
    width: 100% !important;
  }
  .text-qr {
    width: 80%;
  }
  .text-qr h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .qr-reader video {
    width: 90% !important;
    height: 300px !important;
  }
}
