.products {
  background: #f2f4f5;
  padding: 20px 0;
  border-radius: 24px 24px;
  &.bottom-el {
    padding-bottom: 80px;
  }
}
.products-container {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .category-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 12px;
  }
}
.product-category .product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.product-card {
  padding: 6px;
  border-radius: 16px;
  background: #fff;
  &__content {
    margin: 12px 0;
  }
  .product-img {
    width: 100%;
    height: 148px;
    object-fit: cover;
    border-radius: 12px;
  }
  .product-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .product-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 2px 0;
  }
  .product-weight {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.empty-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8f8f8e;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .products-container {
    padding: 0 10px;
  }
}
