.orange-btn,
.gray-btn {
  background: #ef8132;
  padding: 8px 12px;
  width: 100%;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray-btn {
  background: #EEEEEE;
  padding: 8px 12px;
  width: 100%;
  white-space: nowrap;
}
