.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000066;
  z-index: 999;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transform: translateY(calc(100% + 10px));
  will-change: transform;
  transition: 0.3s ease transform;
  &.show {
    transform: translateY(0);
  }
  &.cart-modal {
    .modal-content {
      padding: 24px 20px;
      min-height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .empty-cart {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .orange-btn {
        background: #f2f4f5;
        height: 44px;
        color: #21201f;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8f8f8e;
      }
    }
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .close-btn {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #eeeeee;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .cart-products {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 350px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .cart-product {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
    }
    .left-box {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .product-name {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
    }
    .price-box {
      display: flex;
      gap: 8px;
      align-items: center;
      .price {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
      .weight {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .product-img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 8.73px;
    }
  }
  .bottom-box {
    margin-top: auto;
    position: relative;
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      top: -68px;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(
        0deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 1;
    }
    .order-list {
      background: #f2f4f5;
      padding: 20px;
      border-radius: 16px;
      position: relative;
      z-index: 2;
      ul {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .list {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
      }
      .value {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
      }
      .orange-btn {
        height: 44px;
      }
    }
    .clear-cart {
      color: #d95b46;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      margin-top: 16px;
      margin-inline: auto;
    }
  }
}
.product-card__modal {
  .counter-btn {
    width: 120px;
  }
  .modal-content {
    position: relative;
    margin-top: auto;
  }
  .content-box {
    padding: 24px 20px 15px 20px;
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #5c5a57;
  }
  .product-img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .product-size-container {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #eeeeee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    .product-size-item {
      flex: 1;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      &.active {
        border-radius: 8px;
        background-color: #f2f4f5;
        font-weight: 500;
      }
    }
  }

  .product-name {
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .product-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
  }
  .show-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    color: #8f8f8e;
  }
  .nutrition-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 20px 0 12px 0;
  }
  .nutrition {
    display: flex;
    gap: 4px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
    border-top: 1px solid #eeeeee;
    width: calc(100% + 40px);
    margin-left: -20px;
    .price {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
    }
    .orange-btn {
      width: 219px;
      height: 44px;
    }
  }
}
.modal-content {
  background: #fff;
  box-shadow: 0px 0px 1px 0px #4c5d703d, 0px -8px 24px 0px #51575d29;
  border-radius: 20px 20px 0 0;
}

.counter {
  display: flex;
  align-items: center;
  background: #eeeeee;
  padding: 10px 12px;
  border-radius: 8px;
  gap: 17px;
  & > button {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .count {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #21201f;
  }
}

.bottom-card__modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 1px 0px #4c5d703d, 0px -8px 24px 0px #51575d29;
  padding: 12px 20px;
  z-index: 100;
  display: none;

  &.show {
    display: flex;
  }

  .left-box {
    display: flex;
    align-items: center;
    gap: 12px;
    .img-box {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      background: #eeeeee;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
    span {
      color: #8f8f8e;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .orange-btn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
}

.product-desc {
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.scroll-content {
  height: 215px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.product-desc.expanded {
  max-height: none;
}

.order-modal {
  .order-end {
    width: 100%;
    height: 44px;
    color: #8f8f8e;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
  }
  .counter {
    width: 100px;
    text-align: center;
    justify-content: center;
  }
}
