.counter-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  background: #eeeeee;
  border-radius: 8px;

  padding-inline: 12px;
  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  button {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
