.header {
  padding-top: 12px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    padding-inline: 20px;
  }
  .app-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .login-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    height: 32px;
    width: fit-content;
    color: #21201f;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
