.account {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-bottom: 20px;
  }
  &-header {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-box {
    display: flex;
    align-items: center;
    gap: 8px;

    // .img-box {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   width: 32px;
    //   height: 32px;
    //   border-radius: 50%;
    //   border: 1.5px solid;
    //   border-image-source: linear-gradient(
    //     134.4deg,
    //     #fd5c51 14.85%,
    //     #b343ca 53.08%,
    //     #4564f8 89.08%
    //   );
    //   border-image-slice: 1;
    //   box-sizing: border-box;
    //   overflow: hidden;

    //   img {
    //     width: 24px;
    //     height: 24px;
    //     border-radius: 50%;
    //   }
    // }
    .img-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
    }

    .img-box::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      background: linear-gradient(
        134.4deg,
        #fd5c51 14.85%,
        #b343ca 53.08%,
        #4564f8 89.08%
      );
      border-radius: 50%;
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
      z-index: 0;
    }

    .img-box img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      z-index: 1;
      position: relative;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .email {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8f8f8e;
  }
  .order-history {
    padding: 20px 0;
    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .order-products {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .order-product {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
    }
    .img-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;
      border-radius: 8px;
      height: 80px;
      background: #f2f4f5;
      padding: 4px;
      overflow: hidden;
      img {
        border-radius: 4px;
        width: 34px;
        height: 34px;
        object-fit: cover;
      }
    }
    .info-box {
      h3 {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
      .price-box {
        display: flex;
        align-items: center;
        gap: 4px;
        margin: 4px 0;
        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .date {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #8f8f8e;
      }
    }
    .left-box {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    .status-btn {
      padding: 8px 19px;
      border-radius: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #8f8f8e;
      background: #eeeeee;
      width: 100px;
      &.progress {
        background-color: #ffdcc2;
        color: #21201f;
      }
    }
  }
  .log-out {
    color: #d95b46;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    background: #f2f4f5;
    width: 100%;
    height: 44px;
  }
  .login-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    height: 32px;
    width: fit-content;
    color: #21201f;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 375px) {
  .account {
    .container {
      padding-inline: 10px;
      .account-header {
        .left-box {
          span {
            font-size: 13px;
          }
        }
      }
    }
    .order-history {
      .status-btn.progress {
        white-space: nowrap;
      }
    }
    .info-box {
      .price-box {
        span {
          white-space: nowrap;
        }
      }
    }
  }
}
