* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a,
span,
button {
  display: block;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #21201f;
}
body.no-scroll {
  overflow: hidden;
}

.wrapper {
max-width: 480px;
margin: 0 auto;
}

.container {
  max-width: 335px;
  margin: 0 auto;
}
