* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

a,
span,
button {
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #21201f;
  user-select: inherit !important;

}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.container {
  max-width: 335px;
  margin: 0 auto;
}