.not-found {
  max-width: 375px;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;

  iframe {
    width: 100%;
    border: transparent;
  }

  h3, p {
    margin-bottom:10px;
    text-align: center;
  }
}